.jacket-img img {
    max-width: 80%;
    margin: auto;
    transition: .3s;
}
.jacket-img:hover img {
    transform: scale(1.2);
}
button {
    transition: .2s;
}
button:hover {
    background-color: #fabe4c;
}
/* benefit mobile style */
@media only screen and (max-width:639px) {
    .benefit {
        display: grid;
        justify-items: center;
    }
    .benefit img {
        margin-top: 1.2rem;
    }
    .benefit-text>h4, .benefit-text>p {
        text-align: center;
        margin: 1.2rem 0;
    }
    .benefit-text {
        margin: 0;
    }
}